ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-bottom: 10px;
}

.card-list-container {
  max-height: 500px; // ou o valor que quiser
  overflow-y: auto;
  padding-right: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  // Rolagem com estilo opcional (scrollbar leve)
  scrollbar-width: thin;
  scrollbar-color: #90caf9 transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #90caf9;
    border-radius: 4px;
  }
}
