<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="🔎 Pesquisar por nome, fabricante, modelo..."
    class="search-box"
  />
</div>

<div class="card-list-container">
  <ul>
  <li *ngFor="let product of products">
    <app-card
    name={{product.name}}
    model={{product.model}}
    vendor={{product.vendor}}
    detail={{product.detail}}
    serialNumber={{product.serialNumber}}
    state={{product.state}}
    (edit)="editProduct($event)"
    (delete)="deleteProduct($event)"></app-card>
  </li>
</ul>
</div>
