.card-list-container {
  max-height: 500px;
  overflow-y: auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  scrollbar-width: thin;
  scrollbar-color: #90caf9 transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #90caf9;
    border-radius: 4px;
  }
}

app-card {
  width: 100%;
  margin-bottom: 12px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  //padding: 16px;
  margin-right: 16px;
  margin-top: 8px;
}

.search-box {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 14px;
}
