<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="🔎 Pesquisar por nome, fabricante, modelo..."
    class="search-box"
  />
</div>

<div class="card-list-container">
  <div *ngFor="let product of filteredProducts()">
    <app-card
      [name]="product.name"
      [vendor]="product.vendor"
      [model]="product.model"
      [serialNumber]="product.serialNumber"
      [ticket]="product.ticket"
      [detail]="product.detail"
      [state]="product.state"
      (edit)="editProduct($event)"
      (delete)="deleteProduct($event)"
    ></app-card>
  </div>
</div>

<app-edit-popup
  *ngIf="selectedProduct"
  [product]="selectedProduct"
  (save)="saveSelectedProduct($event)"
  (cancel)="closePopup()">
</app-edit-popup>
