<div class="manage-card">
  <form (ngSubmit)="saveProduct()">
    <!-- <label>
      <span>Ícone:</span>
      <select [(ngModel)]="icone" name="icone">
        <option value="⌨️">⌨️</option>
        <option value="🖱️">🖱️</option>
      </select>
    </label> -->

    <label>
      <span>Nome:</span>
      <select [(ngModel)]="name" name="name" required>
        <option value="" disabled selected>Selecione um item</option>
        <option value="Teclado">Teclado</option>
        <option value="Mouse">Mouse</option>
      </select>
    </label>

    <label>
      <span>Fabricante:</span>
      <select [(ngModel)]="vendor" name="vendor" required>
        <option value="" disabled selected>Selecione um item</option>
        <option value="Kingston">Kingston</option>
        <option value="SanDisk">SanDisk</option>
      </select>
    </label>

    <label>
      <span>Modelo:</span>
      <select [(ngModel)]="model" name="model" required>
        <option value="" disabled selected>Selecione um item</option>
        <option value="Kingston">Kingston</option>
        <option value="SanDisk">SanDisk</option>
      </select>
    </label>

    <label>
      <span>Detalhes:</span>
      <input type="text" [(ngModel)]="detail" name="detail" placeholder="Detalhes, exemplo: 480 GB (Obrigatório)"/>
    </label>

    <label>
      <span>Número de Série:</span>
      <input type="text" [(ngModel)]="serialNumber" name="serialNumber" placeholder="Número de série do insumo (Obrigatório)"/>
    </label>

    <label>
      <span>Chamado:</span>
      <input type="text" [(ngModel)]="ticket" name="ticket" placeholder="Chamado relacionado ao item (Opcional)"/>
    </label>

    <button type="submit">Salvar Produto</button>
  </form>
</div>
