<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="🔎 Pesquisar por nome, fabricante, modelo..."
    class="search-box"
  />
</div>

<div class="card-list-container">
  <ul>
  <li *ngFor="let product of filteredProducts()">
    <app-card-dto
    [name]="product.name"
    [inStock]="getQuantity(product.states, 'em estoque')"
    [inUse]="getQuantity(product.states, 'em uso')"
    [broken]="getQuantity(product.states, 'obsolescencia')"
    ></app-card-dto>
  </li>
</ul>
</div>
