<nav class="menu">
  <ul>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon">📊</span>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/product" routerLinkActive="active">
        <span class="icon">📦</span>
        <span class="text">Insumos</span>
      </a>
    </li>
    <li>
      <a routerLink="/audit" routerLinkActive="active">
        <span class="icon">🕵️‍♂️</span>
        <span class="text">Audit</span>
      </a>
    </li>
    <li>
      <a routerLink="/manage" routerLinkActive="active">
        <span class="icon">➕</span>
        <span class="text">Adicionar</span>
      </a>
    </li>
  </ul>
</nav>
